# -*- coding: utf-8 -*-
"""
Created on Mon Feb 26 19:55:59 2018

@author: Cristian
"""
library = {'book1':{'ISBN':'1','TITLE':'ONE','AUTHOR':'FIRST','QUANTITY':'1'},
           'book2':{'ISBN':'2','TITLE':'TWO','AUTHOR':'SECOND','QUANTITY':'2'},
           'book3':{'ISBN':'3','TITLE':'THREE','AUTHOR':'THIRD','QUANTITY':'3'}}
           

def library_details(x):
    print('Books in the library:')
    for i in x:
        print(x[i])
        
def add_books(x):
    new_book = {}
    print('Adding a book to the library:')
    user_input_ISBN = input('Please give the book ISBN:')
    j=0
    for i in x:
        if user_input_ISBN==x[i]['ISBN']:
            print('The book is already in the library.')
            user_input_QUANTITY = input('Please, update the quantity:')
            x[i]['QUANTITY'] = user_input_QUANTITY
            j=j+1
        else:
            continue
    if j==0:
        print('The book is not in the library.')
        print('Please, Add the following information:')
        new_book['ISBN'] = user_input_ISBN
        user_input_AUTHOR = input('Please give the book AUTHOR:')
        user_input_TITLE = input('Please give the book TITLE:')
        user_input_QUANTITY = input('Please give the book number of copies:')
        new_book_key = 'book' + str(len(x))
        x[new_book_key] = {'ISBN':user_input_ISBN,'TITLE':user_input_TITLE,'AUTHOR':user_input_AUTHOR,'QUANTITY':user_input_QUANTITY}
        print('Thanks, the book has been added to the library.')
    
def loaning(x):
    user_input = input('Loaning search. Do you want to search by TITLE or by ISBN? ')
    if user_input=='ISBN':
        user_input_book = input('Write the ISBN of the book for loaning:')
        for i in x:
            if x[i]['ISBN']==user_input_book:
                if int(x[i]['QUANTITY'])>=1:
                    print('The book is available for loaning, there are', x[i]['QUANTITY'], 'copies')
                else:
                    print('This book is no available for loaning')
                    
    if user_input=='TITLE':
        user_input_book = input('Write the TITLE of the book for loaning:')
        for i in x:
            if x[i]['TITLE']==user_input_book:
                if int(x[i]['QUANTITY'])>=1:
                    print('The book is available for loaning, there are', x[i]['QUANTITY'], 'copies')
                else:
                    print('This book is no available for loaning')
            
            
    
def search_isbn(x):
    print('Searching a book ISBN given a TITLE.')
    user_input_TITLE = input('Please give a book TITLE: ')
    for i in x:
        if x[i]['TITLE']==user_input_TITLE:
            print('The ISBN for this book is:', x[i]['ISBN'])
